body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px;
}

.header-links {
    font-size: 24px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.header-logo {
    font-size: 36px;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.dark-blue {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    margin: auto;
    width: 80%;
    max-width: 1800px;
}

.content-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.content-left {
    flex: 1 1 0;
    max-width: 600px;
    min-width: 400px;
    
}

.spacer {
    flex: 0 0 auto;
    min-width: 50px;
}

.content-big {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 12px 0px;
}

.content-small {
    font-size: 18px;
    color: #E5E7EB;
    margin: 12px 0px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    margin-top: 12px;
    font-weight: 900;
    height: 30px;
}

.main-image {
    flex: 1 1 0;
    max-width: 800px;
    min-width: 400px;
    height: auto;
}

.info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center
}

.panels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 75px;
}

.panel {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    max-width: 200px;
    text-align: center;
}

.image-wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    border: 5px solid #3882F6;
    margin-bottom: 5px;
}

.panel img {
    width: 200px;
    height: auto;
    margin-top: -75px;
}

.info-header {
    margin: 50px;
}

.grey {
    background-color: #E5E7EB;
    padding: 75px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color:#1F2937;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.quote-wrapper {
    width: 1200px;
}

.attribution {
    font-size: 24px;
    font-weight: 900;
    text-align: end;
}

.action {
    padding: 100px 0px;
}

.action-statement {
    flex: 1 1 0;
    min-width: 50px;
}

.highlight {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    max-width: 1000px;
    color:#F9FAF8;
    font-size: 18px;
    background-color:#3882F6;
    padding: 25px 75px;
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap;
    align-items: center;
}
.eyecatcher {
    font-weight: 900;
    font-size: 24px;
}

.action-spacer {
    flex: 1 1 auto;
}

.border-button {
    flex: 0 0 auto;
    border: 2px solid #F9FAF8;
    white-space: nowrap;
    
}